.form-group {
    margin-bottom: 1rem;
    margin-left: 30%;
    width: 20%;
    margin-right: 10%;
  }
  
  .form-group label {
    margin-right: 0.5rem;
  }
  
  .form-group input {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .btn-iniciar {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background-color: #EC660D;
    color: #fff;
    border: none;
    margin-left: 35%;
    margin-bottom: 10%;
  }

  .form-group label{
    font-weight: bold;
    font-size: 16px;
  }
  
  .acceso{
    color: #E77219;
    font-weight: bold;
    display: flex;
    margin-left: 35%;
    font-size: 24px;
  }

  .img-container {
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 150px; /* Altura fija */
    overflow: hidden; /* Oculta cualquier contenido que sobresalga de los límites */
  }
  
  .img {
    width: 100%; /* Ocupa todo el ancho disponible */
    height: auto; /* Mantiene la proporción de la imagen */
  }

  .login-container {
    display: flex;
    justify-content: center;
  }

  .soporte{
    width: 30%;
    margin-left: 20%;
  }
  form{
    width: 1120px;
  }
  
