.body-dahsboard {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
}
/*  personalizar la apariencia de las barras de desplazamiento (Google Chrome y Safari) */
/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-track:hover {
  background: #c0c0c0;
}  */

.dashboard-container {
    display: flex;
    height: 100vh;
}
  
  .sidebar {
    flex: 0 0 200px; /* Fijar el ancho del Sidebar */
  }
  
  .content {
    flex: 1; /* Permitir que el contenido ocupe el espacio restante */
  }

  .dashboard-pie-container,
  .dashboard-bar-container,
  .dashboard-line-container,
  .dashboard-line-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    /* background-color: red; */
  }


  